@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    border: border-box;
}


.img{
    max-height: 240;
    max-width: 240.28;
    

    
}
.hading{
    font-weight: 998;
    font-size: 48px;
    color:#0D1321 ;
    

}
.descrpition{
    font-weight: 842px;
    font-size: 16px;
    color: #0D1321;

}
.btn{
    font-size: 20px;
    font-weight: 196px;
    color:#FFFFFF;
    background-color:#0D1321;
    padding: 21px 24px;
    border-radius:8px;
    

}
.bg{
    display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
    background-image: url('../assets/Hero-bg.png');
    height: 652px;
    width: 1440;
    
}
.bgc{
    width: 900px;
    text-align: center;
}
.heading{
    font-size: 32px;
    color: #0D1321;
}
.paragraph{
    font-size: 16px;
    margin-top: 7px;
}
.section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.t-heading{
    font-size: 24px;
    color: #0D1321;
    margin-top: 20px;
}
.second-p{
    font-size: 16px;
    color: #0D1321;
    margin-top: 20px;
    margin: 0;
}
.second-btn{
   color: #0D1321;
   background-color:white;
   margin: 10px;
   font-size: 20px;
   padding: 12px 20px;
   margin:0;
   margin-top: 16px;


}
.second-img{
    height: 240px;
    width: 274.17px;
}
.second-sec{
    display:flex;
    justify-content:space-between;
    margin-top: 20px;
    padding: 48px ;
    color: #FFFFFF;
}
.second-div{
    

}
.second-sea{
    display: flex;
    justify-content: flex-start;
    padding: 48px ;
    

}
.second-sep{
    display: flex;
    justify-content: space-between;
    padding: 68px ;
    : #FFFFFF;
}

.bck{
    background-color:#E7ECFF;
    margin-top: 30px;
    padding: 80px;
    
}
.hop{
    background-color: #FFFFFF;
}
